:root {
  --common-white: #fff;
  --orange: #f07f2e;
  --grey: #2c2c2c;
  --common-black: #2f2f37;
  --blue-light: #ecf6ff;
  --navy: #d8def8;
  --scarlet: #fae8ea;
  --yellow: #fffddc;
  --pink: #ffe8f1;
  --turquoise: #e9f9f8;
  --lilac: #f2eef8;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}

/* ===================== /UTILITES =====================*/

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.container {
  max-width: 1160px;
  min-width: 320px;
  margin: auto;
  padding: 0 16px;
}

/* ===================== /UTILITES =====================*/

/* ===================== HEADER =====================*/

.header-container {
  padding: 16px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  color: var(--orange);
  font-size: 24px;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
}
/* ===================== /HEADER =====================*/

/* ===================== HERO =====================*/

.hero-container {
  margin-bottom: 80px;
}

.hero-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

/* .hero-img {
  border-radius: 16px;
} */

.hero-item {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.hero-item:first-child {
  grid-column: 1/2;
  grid-row: 1/3;
}

@media only screen and (min-width: 768px) {
  .hero-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    align-items: start;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 20px;
  border-radius: 0 0 16px 16px;
  background: rgba(47, 47, 55, 0.5);
}

@media (min-width: 1160px) {
  .overlay {
    padding: 24px 48px;
  }
}

.hero-img-title {
  color: var(--common-white);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

/* ===================== /HERO =====================*/

.longread {
  display: grid;
  gap: 96px;
}

@media (min-width: 1160px) {
  .longread {
    grid-template-areas:
      'a a s'
      'a a v'
      'a a .';
    gap: 60px 24px;
  }

  .articles-container {
    grid-area: a;
  }

  .social-container {
    grid-area: s;
  }

  .video-container {
    grid-area: v;
  }
}

/* ===================== ARTICLES =====================*/

.articles-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
}

.article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .articles-container {
    gap: 36px;
  }

  .article {
    grid-template-columns: 264px 1fr;
    gap: 24px;
  }
}

.article-img {
  border-radius: 16px;
}

.article-title {
  color: var(--grey);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px; /* 140% */
  letter-spacing: 0.5px;
  margin-bottom: 12px;
}

.article-text {
  color: var(--grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

/* ===================== /ARTICLES =====================*/

/* ===================== SOCIAL =====================*/

.social-title {
  color: var(--grey);
  font-size: 28px;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}

.social-list {
  display: grid;
  gap: 24px 8px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .socials-list {
    gap: 24px;
  }
}

.social-item {
  border-radius: 16px;
}

.social-icon {
  border: 1px solid var(--common-black);
  padding: 4px;
  border-radius: 8px;
}

.social-link {
  display: grid;
  grid-template-columns: 32px 1fr;
  align-items: center;
  justify-items: center;
  padding: 8px;
  margin: 0;

  color: var(--common-black);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

.instagram {
  background-color: var(--navy);
}
.youtube {
  background-color: var(--scarlet);
}
.facebook {
  background-color: var(--pink);
}
.github {
  background-color: var(--yellow);
}
.tiktok {
  background-color: var(--turquoise);
}
.twitter {
  background-color: var(--lilac);
}

/* ===================== /SOCIAL =====================*/

/* ===================== VIDEO =====================*/

.video-title {
  margin-bottom: 24px;
  color: var(--grey);
  font-size: 28px;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  letter-spacing: 0.5px;
}

/* ===================== /VIDEO =====================*/

/* ===================== /FOOTER =====================*/

.footer-container {
  padding: 16px 16px;
  background-color: var(--blue-light);
  margin-top: 96px;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    margin-top: 80px;
  }
}

/* ===================== /FOOTER =====================*/
